POSTGRES_HOST=localhost
POSTGRES_USER=postgres_user
POSTGRES_PORT=port
POSTGRES_PASSWORD=pass
POSTGRES_NAME=db_name

HOST=http://127.0.0.1:8000

SECRET_KEY=secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
HOST=http://127.0.0.1:8000

EMAIL_USER=sayfulloh.dev@gmail.com
EMAIL_PASSWORD=uvlwsxwwqvetewqh

SOCIAL_SECRET_PASSWORD=121625716kasdhjkashjd
